.todoListItem {
  font-size: 1.25rem;
}

.todoListItem button {
  width: 35px;
  margin: 3px;
}

.todoListItem__label {
  margin-left: 1.25rem;
  line-height: 35px;
  cursor: pointer;
  user-select: none;
}

.todoListItem__label-done {
  text-decoration: line-through;
}

.todoListItem__label-important {
  font-weight: bold;
  color: steelblue;
}
